USE [master]
GO
/****** Object:  Database [Region]    Script Date: 12/20/2016 7:39:42 PM ******/
CREATE DATABASE [Region]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Region', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.VIRTUSA\MSSQL\DATA\Region.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Region_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.VIRTUSA\MSSQL\DATA\Region_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Region].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Region]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 12/20/2016 7:39:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Regions](
	[Name] [varchar](255) NULL,
	[ID] [varchar](255) NOT NULL,
	[Zipcodes] [varchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZipCodes]    Script Date: 12/20/2016 7:39:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZipCodes](
	[Start] [varchar](255) NULL,
	[End] [varchar](255) NULL,
	[iid] [int] IDENTITY(1,1) NOT NULL,
	[ID] [varchar](255) NULL,
 CONSTRAINT [PK_ZipCodes] PRIMARY KEY CLUSTERED 
(
	[iid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Zips]    Script Date: 12/20/2016 7:39:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zips](
	[ZipCode] [varchar](50) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Zips] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Regions] ([Name], [ID], [Zipcodes]) VALUES (N't4', N'b14f4b72-089f-4f12-9873-179f47c7c0a3', NULL)
INSERT [dbo].[Regions] ([Name], [ID], [Zipcodes]) VALUES (N'TESTbb', N'c09f0dc4-fbb5-42b6-b5c3-77e1b9293acd', NULL)
INSERT [dbo].[Regions] ([Name], [ID], [Zipcodes]) VALUES (N't1', N'f4130475-6e6f-40b3-a41b-d244284fac87', NULL)
SET IDENTITY_INSERT [dbo].[ZipCodes] ON 

INSERT [dbo].[ZipCodes] ([Start], [End], [iid], [ID]) VALUES (N'09888', N'975545', 1, NULL)
INSERT [dbo].[ZipCodes] ([Start], [End], [iid], [ID]) VALUES (N'ooo', N'0000', 2, NULL)
SET IDENTITY_INSERT [dbo].[ZipCodes] OFF
SET IDENTITY_INSERT [dbo].[Zips] ON 

INSERT [dbo].[Zips] ([ZipCode], [ID]) VALUES (N'06001', 1)
INSERT [dbo].[Zips] ([ZipCode], [ID]) VALUES (N'06002', 2)
INSERT [dbo].[Zips] ([ZipCode], [ID]) VALUES (N'06006', 3)
GO
SET IDENTITY_INSERT [dbo].[Zips] OFF
USE [master]
GO
